<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
        <picture>
            <source srcset="
                    /img/header/logo-desk.png 1x,
                    /img/header/logo-desk@2x.png 2x
                    " media="(min-width: 1440px)" />
            <source srcset="
                    /img/header/logo-mob.png 1x,
                    /img/header/logo-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
            <img class="header-img" src="/img/header/logo-mob.png" alt="House Trace" loading="lazy" />
        </picture>
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.66675 5.8335H23.3334M4.66675 14.0002H23.3334M4.66675 22.1668H23.3334" stroke="#151515" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#how">How It Works</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#pick">Modes</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#score">Score</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gallery">Gallery</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#what">Testimonials</a>
                </li>
            </ul>

        </nav>  
          <a class="header-btn" href="./#home">
                <img src="/img/hero/icon.png" alt="play google" loading="lazy">
                <p class="google-text">Get it on Google Play</p>
            </a>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#how">How It Works</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#pick">Modes</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#score">Score</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#gallery">Gallery</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#what">Testimonials</a>
        </li>
    </ul>
            <a class="get-btn btn modal-btn" href="./#home">
                <img src="/img/hero/icon.png" alt="play google" loading="lazy">
                <p class="google-text">Get it on Google Play</p>
            </a>
</div>