body{
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.78571;
    text-align: center;
    color: #62748e;
}
h2{
  font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.05em;
    color: #0f172b;
}