.home-section{
background: linear-gradient(0deg, #fff 0%, rgba(255, 214, 224, 0.04) 59.55%, rgba(255, 32, 86, 0.12) 100%);
}
.home-wrapper{
    margin-top: 50px;
}
.home-title{
    font-family: "Fredoka", sans-serif;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.05em;
        color: #0f172b;
        text-align: left;
}
.home-text{
    margin-top: 6px;
        font-weight: 500;
        line-height: 2.06429;
        text-align: left;

}
.home-text-two{
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: left;
    font-size: 12px;
        line-height: 2.08333;
}
.hero-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}
.hero-item{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
        line-height: 1.61538;
        color: #45556c;
}
.hero-btn-wrapper{
    display: flex;
    gap: 16px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.get-btn{
    border-radius: 16px;
        width: 189px;
        height: 40px;
        box-shadow: 0 8px 10px -6px rgba(255, 105, 0, 0.25), 0 20px 25px -5px rgba(255, 105, 0, 0.25);
            background: linear-gradient(90deg, #ff6900 0%, #ff2056 100%);
font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.60714;
    color: #fff;
gap: 14px;
}
.screen-btn{
    border: 1px solid #e2e8f0;
        border-radius: 16px;
        width: 143px;
        height: 40px;
        background: #fff;
font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.60714;
    color: #314158;
}
.img-wrapper{
    margin-top: 25px;
    border-radius: 26px;
    padding: 6px 7px;
    box-shadow: 0 25px 50px -12px rgba(29, 41, 61, 0.4);
        background: linear-gradient(180deg, #1d293d 0%, #0f172b 100%);
}
@media only screen and (min-width: 1440px) {
   .home-wrapper{
    margin-top: 70px;
   }
   .home-conatiner{
    position: relative;
    padding-left: 58px;
    padding-right: 58px;
   }
   .img-wrapper{
    position: absolute;
    bottom: 14%;
    right: 4%;
    height: 368px;
        width: 767px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 36px;
   }
   .home-title{
font-size: 80px;
    letter-spacing: -0.02em;
   }
   .home-text{
    margin-top: 52px;
    font-size: 20px;
        line-height: 1.445;
        width: 450px;
   }
   .home-text-two{
    margin-top: 30px;
    width: 519px;
    font-size: 16px;
   line-height: 1.5625;
   margin-bottom: 34px;
   }
   .hero-list{
    margin-bottom: 50px;
   }
   .hero-item{
    font-size: 14px;
   }
}
/* how swiper */
.how-text{
    margin-top: 30px;
    margin-bottom: 20px;
}
.how-container{
    position: relative;
}
.how-swiper .swiper-slide{
border: 1px solid #f1f5f9;
    border-radius: 24px;
    padding: 13px 16px;
    width: 242px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.how-swiper{
    width: 242px;
}
.how-slide-one{
    background: rgba(255, 105, 0, 0.1);
}
.how-slide-two{
    background: rgba(0, 187, 167, 0.1);
}
.how-slide-three{
    background: rgba(142, 81, 255, 0.1);
}
.how-slide-four{
    background: rgba(255, 32, 86, 0.1);
}
.step{
    font-family: "Fredoka", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17857;
        letter-spacing: 0.08em;
        color: rgba(15, 23, 43, 0.72);
}
.how-title-item{
    font-family: "Fredoka", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.275;
        color: #0f172b;
}
.how-item-text{
    font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #62748e;
        text-align: left;
}

.swiper-btn {
border: 1px solid rgba(221, 214, 255, 0.6);
    border-radius: 33554400px;
    width: 44px;
    height: 44px;
box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: rgba(142, 81, 255, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .15s ease, background .15s ease, border-color .15s ease;
}


.swiper-btn:disabled {
    opacity: .35;
    cursor: not-allowed;
}
.how-ui{
display: flex;
justify-content: space-between;
margin-top: -50%;
}
/* pagination bullets */
.swiper-pagination {
    position: static !important;
    width: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
}

/* ДОБАВИЛИ puzzle-pagination */
.how-pagination .swiper-pagination-bullet,
.design-pagination .swiper-pagination-bullet,
.puzzle-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
background: #ddd6ff;
    opacity: 1;
    border-radius: 999px;
    margin: 0;
    transition: width .2s ease, height .2s ease, background .2s ease;
}

.how-pagination .swiper-pagination-bullet-active,
.design-pagination .swiper-pagination-bullet-active,
.puzzle-pagination .swiper-pagination-bullet-active {
width: 32px;
    height: 10px;
background: linear-gradient(90deg, #a684ff 0%, #c27aff 100%);
    opacity: 1 ;
}
@media only screen and (min-width: 1440px) {
   .how-ui{
    display: none;
   }
   .how-pagination{
    display: none;
   }
   .how-text{
    margin: 70px auto 30px;
    margin-top: 70px;
    width: 940px;
   }
   .how-swiper{
    width: 100%;

   }
   .how-swiper .swiper-wrapper{
    justify-content: center;
    gap: 20px;    
   }
}
