@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./cookie-popup.css');


.background {
font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #364153;
    text-align: left;
}

.policy-container {
    padding-left: 16px;
    padding-right: 16px;
}

.privacy-title {
font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.04em;
    color: #364153;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #364153;
    margin-top: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .background {
        font-size: 24px;
    }

    .privacy-title {
        font-size: 60px;
    }

    .policy-subtitle {
        font-size: 24px;
    }

    .policy-container {
        padding-left: 60px;
        padding-right: 60px;
    }

}